# Raw large datasets
Online_Retail.csv
Telco-Customer-Churn.csv

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Local Interview & Prep Notes
explanation/
PROJECT_2_MASTER_INSIGHTS_LOG.md

